* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition:all 0.4s linear;
}

body {
  overflow-x: hidden;
  background: var(--container);
}

:root {
  font-size: 15px;
  --teal: #bddbd8;
  --border: #eee;
  --background: #fff;
  --container: #f8f8f8;
}

a {
  color:#999;
  text-decoration:none;
  -webkit-transition:0.4s ease-in;
  -moz-transition:0.4s ease-in;
  -o-transition:0.4s ease-in;
}

a:hover {
  text-decoration:none;
  cursor:pointer;
  -webkit-transition:0.4s ease-in;
  -moz-transition:0.4s ease-in;
  -o-transition:0.4s ease-in;
}

button {
  border:none;
  background:none;
}

button:focus {
  outline:none;
}

button:hover {
  cursor:pointer;
}